PORT=4000
AUTH_SERVICE_URL=http://localhost:3001
BOOKING_SERVICE_URL=http://localhost:3002
ROOM_SERVICE_URL=http://localhost:3003
PAYMENT_SERVICE_URL=http://localhost:3004
REVIEW_SERVICE_URL=http://localhost:3005
CONTENT_SERVICE_URL=http://localhost:3007
BLOG_SERVICE_URL=http://localhost:3008
